* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F2F2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    width: 635px;
    height: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}

.card__first {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 45%;
    width: 100%;
    padding: 30px;
}

.card__first--position {
    flex-direction: column;
    

}

.card__first--ti {
    color: #2AB3B1;
    font-weight: 600;
    font-size: 24px;
    
}

.card__first--des{
    color: #C0DF33;
    font-weight: 600;
    font-size: 18px;
   
}

.card__first--par {
    color: #9AA7BE;
    
    font-size: 16px;
   
}

.card__second {
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card__second--fi, .card__second--sc {
    flex-direction: column;
    padding: 40px;
}

.card__second--fi {
    background-color: #2AB3B1;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    
    gap: 20px; 
}
.number {
    font-size: 32px;
    margin-bottom: 5px;
    font-weight: 600;
}

.des {
    font-size: 12px;
    opacity: 50%;
}

.texte  {
    
}

.btn {
    background-color: #C0DF33;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 230px;
    height: 40px; 
    text-align: center; 
    cursor: pointer; 
   
}


.card__second--sc {
    background-color:  #2AB3B1;
    height: 100%;
    width: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    color: white;
    opacity: 75%;
    gap: 30px;
}


.title__de {
    
    opacity: 75%;
    letter-spacing: 1px;
    
}

.title {
    font-size: 18px;
   
}

.attribution {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3D8168;
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: inherit;
}

.attribution a:visited {
    color: rgb(17, 16, 17); /* Couleur des liens visités */
}

.attribution a:hover {
    color: rgb(102, 11, 11); /* Couleur des liens au survol */
}
